@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: #ffffff;
}

.container-grid {
  display: flex;
  flex-direction: column;
}

.top-grid {
  height: 35vh;
  background: url(/images/pattern-bg.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 1%;
}

.header-text {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 40px;
}

input.search-box {
  display: inline-block;
  position: relative;
  width: 30%;
  padding: 15px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  font-family: "Rubik", sans-serif;
  color: var(--very-dark-gray);
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 10px;
}

input.search-box:focus {
  outline: none;
}

button.search-btn {
  /* display: block; */
  background: var(--very-dark-gray);
  border: none;
  padding: 15px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  margin-left: -2%;
  /* right: 10px; */
  /* top: 0; */
  
}

button.search-btn:focus {
  outline: none;
}

button.search-btn:hover {
  background: var(--dark-gray);
}

.bottom-grid {
  height: calc(100% - 35vh);
}
